h1{
    font-size: 42px;
    text-align: center;
    background-color: black;
    color: aliceblue;
}
.title{
    text-align: center;
    font-size: 25px;
}
.img{
    text-align: center;
}
