h1 {
    color: rgb(83, 83, 163);
    font-family: 'Times New Roman', Times, serif;
}

.highlight {
    background-color: rgb(240, 240, 197);
    padding: 15px;
    border-left: 7px solid rgb(209, 209, 16);
    font-weight: 500;
    font-size: 18px;
}

.content {
    font-size: 18px;
    font-weight: 500;
}